<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.study.dao.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.xawl.study.model.Course" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="redesc" property="redesc" jdbcType="VARCHAR" />
    <result column="beLongToInterestID" property="belongtointerestid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, cname, date, aid, fid, redesc, beLongToInterestID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xawl.study.model.Course" >
    insert into course (cid, cname, date, 
      aid, fid, redesc, beLongToInterestID
      )
    values (#{cid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, 
      #{aid,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{redesc,jdbcType=VARCHAR}, #{belongtointerestid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xawl.study.model.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="redesc != null" >
        redesc,
      </if>
      <if test="belongtointerestid != null" >
        beLongToInterestID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="redesc != null" >
        #{redesc,jdbcType=VARCHAR},
      </if>
      <if test="belongtointerestid != null" >
        #{belongtointerestid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xawl.study.model.Course" >
    update course
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="redesc != null" >
        redesc = #{redesc,jdbcType=VARCHAR},
      </if>
      <if test="belongtointerestid != null" >
        beLongToInterestID = #{belongtointerestid,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xawl.study.model.Course" >
    update course
    set cname = #{cname,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      aid = #{aid,jdbcType=INTEGER},
      fid = #{fid,jdbcType=INTEGER},
      redesc = #{redesc,jdbcType=VARCHAR},
      beLongToInterestID = #{belongtointerestid,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
</mapper>