<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xawl.study.dao.TeacherClassMapper" >
  <resultMap id="BaseResultMap" type="com.xawl.study.model.TeacherClass" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="classid" property="classid" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, classid, aid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teach_class
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teach_class
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xawl.study.model.TeacherClass" >
    insert into teach_class (tid, classid, aid
      )
    values (#{tid,jdbcType=INTEGER}, #{classid,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xawl.study.model.TeacherClass" >
    insert into teach_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="classid != null" >
        classid,
      </if>
      <if test="aid != null" >
        aid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xawl.study.model.TeacherClass" >
    update teach_class
    <set >
      <if test="classid != null" >
        classid = #{classid,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xawl.study.model.TeacherClass" >
    update teach_class
    set classid = #{classid,jdbcType=INTEGER},
      aid = #{aid,jdbcType=INTEGER}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>